{% extends "base.html" %}
{% load static %}

{% block title %}Pagina de imagens{% endblock  %}

{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if cavaleiro %}
                            <img class="imagem__imagem" src="{{ cavaleiro.imagem.url }}">
                            <div class="imagem__info">
                                <div class="imagem__texto">
                                    <p class="imagem__titulo">{{ cavaleiro.nome }}</p>
                                    <p class="imagem__descricao">{{ cavaleiro.constelacao }}</p>
                                    <p class="imagem__texto">{{ cavaleiro.historia }}</p>
                                </div>
                                <div>
                                    <a href="{% url "apps.galeria:editar_imagem" %}"><button class="btn btn-success col-12" style="padding: top 5px">Editar</button></a>
                                    <a href="{% url "apps.galeria:deletar_imagem" %}"><button class="btn btn-danger col-12" style="padding: top 5px">Deletar</button></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}